.ML2itemLabel {
  color: var(--fontWhite);
  font-size: 24px;
}

.ML2itemContent {
  width: 360px;
  height: 30px;
  color: var(--fontWhite);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
}

.ML2itemInput {
  background: #dcdcdc;
  border-radius: 5px;
  width: 360px;
  height: 30px;
}

.ML2dateInput {
  background: #dcdcdc;
  border-radius: 5px;
  width: 27%;
}

.ML2gender {
  color: var(--fontWhite);
}

.ML2check {
  color: var(--sixth-color);
  font-size: 16px;
}

.ML2itemCheck {
  margin: 0px 20px;
}

.ML2item {
  width: 475px;
  margin: 40px 60px;
  display: flex;
  justify-content: space-between;
}

.ML2btn {
  background: var(--second-color);
  width: 240px;
  height: 55px;
  font-size: 24px;
  font-weight: bold;
  color: var(--fontWhite);
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 33%;
}

.ML2btn:hover {
  background: var(--btnHover);
}
