:root {
  --main-color: #1d3557;
  --second-color: #457b9d;
  --third-color: #abdadc;
  --forth-color: #f1faee;
  --fifth-color: #e63946;
  --sixth-color: #fff579;
  --blockLight: #c2ccc4;
  --blueLine: #00a2e0;
  --fontWhite: white;
  --btnHover: #01619c;
}
body {
  background: var(--forth-color);
  width: 100%;
  height: 100vh;
}
nav {
  width: 100%;
  height: 66px;
  background: var(--forth-color);
}
.MAactivity-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.MAnavHead {
  height: 65px;
  background: var(--main-color);
}

.MAmemberAside {
  max-width: 100vw;
  margin: 0px auto 100px;
}

.MAmemberPage {
  display: flex;
  max-width: 1280px;
  margin: 0px auto;
}

.MAmemberCentreTitle {
  width: 300px;
  height: 80px;
}

.MACentreTitle {
  font-size: 70px;
  font-weight: bold;
  color: var(--main-color);
  margin-top: 50px;
}
.MAcontainerList {
  width: 23%;
}
.MAcontainerList ul li a img {
  width: 40px;
  height: 40px;
}

.MAmemberCentreList {
  /* width: 250px; */
  width: 100%;
  margin: 0px auto;
}

.MAmemberCentreList ul {
  padding-left: 0;
  flex-direction: column;
  list-style-type: none;
}

.MAmemberCentreList ul li a {
  font-size: 24px;
  text-decoration: none;
  display: block;
  color: var(--main-color);
  width: 100%;
  margin-top: 40px;
  cursor: pointer;
}

.MAmemberCentreList ul li a:hover {
  font-size: 32px !important;
  color: var(--fifth-color) !important;
}
.MAactiveList {
  font-size: 32px !important;
  color: var(--fifth-color) !important;
}

.MAactiveList a {
  font-size: 32px !important;
  color: var(--fifth-color) !important;
}

.MAmemberBoard {
  position: relative;
  height: 650px;
  width: 800px;
  background: var(--main-color);
  margin-top: 50px;
  margin-left: 30px;
  border-radius: 20px;
}

.MAmemberAcount {
  display: inline-flex;
  padding: 10px 0;
}

.MAacountTitle {
  font-size: 32px;
  color: var(--fontWhite);
  margin: 20px 40px;
}

.MAacountSubhead {
  color: #cccccc;
  /* line-height: 50px; */
  height: 30px;
  margin: auto 0;
}

.MAmemberBoard hr {
  width: 90%;
  height: 2px;
  border: none;
  background: var(--sixth-color);
  margin-top: 0px;
}

.MAmemberAccountInformation {
  display: inline-flex;
  padding: 0px 40px;
  /* width: 90%; */
}

.MAaccountInformation {
  width: 70%;
  height: 100%;
}

.MAaccount {
  display: inline-flex;
  align-items: flex-end;
  width: 460px;
  /* padding-top: 30px; */
}

.MAaccount a {
  text-decoration: none;
}

.MAlistTitle {
  width: 150px;
  color: var(--fontWhite);
  font-size: 24px;
}

.MAcontent {
  font-size: 20px;
  color: #cccccc;
}

.MAchange {
  font-size: 20px;
  color: var(--sixth-color);
  /* margin: 0px 20px; */
  white-space: nowrap;
}

.MAchange:hover {
  text-decoration: underline;
  color: var(--sixth-color);
}

.MAmember {
  margin-left: 20px;
  color: var(--fontWhite);
  font-size: 20px;
}

.MAsmallChange {
  margin-left: 20px;
  font-size: 16px;
}
.MAitemCheck {
  margin: 0px 20px;
}

.MAsmallChange img {
  width: 16px;
  height: 16px;
}

.MAsmallChange {
  text-decoration: underline;
}

.MAdateInput {
  border-radius: 5px;
  margin: 0 10px;
}

.MAheadPicture {
  width: 30%;
  height: 300px;
}

.MAheadPicture1240 {
  display: none;
}

.MApictureGo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin: auto;
}

.MApictureCard label {
  border-radius: 8px;
  background: #6d695f;
  width: 120px;
  height: 36px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  color: var(--fontWhite);
  margin: 10px 25%;
  line-height: 36px;
  text-align: center;
}

.MApictureCard label:hover {
  background: #777777;
}

.MApictureCard input[type="file"] {
  display: none;
}
.MAbtnW {
  width: 100%;
}

.MAbtn {
  background: var(--second-color);
  color: var(--fontWhite);
  width: 120px;
  height: 50px;
  border-radius: 8px;
  font-size: 24px;
  margin: 20px 40%;
}

.MAbtn:hover {
  color: var(--fontWhite);
  background: var(--btnHover);
}

.MAList1240 {
  display: none;
}

@media screen and (max-width: 1240px) {
  .MAmemberAside {
    margin: 20px auto;
  }
  .MAmemberCentreTitle {
    margin: 20px auto;
  }

  .MACentreTitle {
    margin: 0px auto;
    font-size: 70px;
    font-weight: bold;
    color: var(--main-color);
    width: 280px;
  }
  .MAmemberCentreList {
    margin: 50px auto;
  }

  .MAaccountInformation {
    width: 100%;
  }
  .MAmemberAcount {
    margin-left: 20px;
    padding-top: 0px;
  }

  .MAaccount {
    width: 100%;
    padding: 10px 0;
  }

  .MAheadPicture720 {
    display: none;
  }

  .MAheadPicture1240 {
    display: block;
    margin: 30px auto;
    height: 250px;
  }

  .MAmemberBoard {
    margin: 0px auto;
    max-width: 80vw;
    height: 100%;
  }

  .MAList1240 {
    display: block;
    width: 100%;
  }

  .MAList1240 ul {
    display: flex;
    flex-direction: row;
  }

  .MAList1240 ul li {
    margin: 0px auto;
  }

  .MAList1240 ul li a {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }

  .MAList1240 ul li a img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  .MAmemberPage {
    flex-direction: column;
  }

  .MAcontainerList {
    display: none;
  }
  .MApictureCard {
    padding: 20px 0 0 0;
  }

  .MAbtn {
    margin-left: 40%;
  }
}

@media screen and (max-width: 760px) {
  .MAmemberAccountInformation {
    padding: 10px 30px;
  }
}
