:root {
  --main-color: #1d3557;
  --second-color: #457b9d;
  --third-color: #abdadc;
  --forth-color: #f1faee;
  --fifth-color: #e63946;
  --sixth-color: #fff579;
  --blockLight: #c2ccc4;
  --blueLine: #00a2e0;
  --fontWhite: white;
  --btnHover: #01619c;
}
body {
  background: var(--forth-color);
  width: 100%;
  height: 100vh;
}
nav {
  width: 100%;
  height: 66px;
  background: var(--forth-color);
}
.MAactivity-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.MAnavHead {
  height: 50px;
  background: var(--main-color);
}

.MAmemberAside {
  margin: 0px auto 100px;
}

.MAmemberPage {
  display: flex;
  justify-content: center;
}

.MAmemberCentreTitle {
  width: 220px;
  height: 80px;
}

.MACentreTitle {
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
  margin-top: 50px;
}
.MAcontainerList {
  width: 230px;
}
.MAcontainerList ul li a img {
  width: 30px;
  height: 30px;
}

.MAmemberCentreList {
  /* width: 100%; */
  /* margin: 0px auto; */
}

.MAmemberCentreList ul {
  padding-left: 0;
  flex-direction: column;
  list-style-type: none;
}

.MAmemberCentreList ul li {
  font-size: 20px;
  display: flex;
  color: var(--main-color);
  width: 100%;
  margin-top: 40px;
  cursor: pointer;
  align-items: center;
}
.MAmemberCentreList ul li div {
  margin-left: 10px;
}

.MAmemberCentreList ul li:hover {
  color: var(--second-color) !important;
  font-weight: bold;
}

.MAactiveList {
  color: var(--second-color) !important;
  font-weight: bold;
}

.MAmemberBoard {
  position: relative;
  width: 600px;
  background: var(--main-color);
  margin-top: 50px;
  border-radius: 20px;
}

.MAmemberAcount {
  display: inline-flex;
  padding: 10px 0;
}

.MAacountTitle {
  font-size: 24px;
  color: var(--fontWhite);
  margin: 20px 40px;
}

.MAacountSubhead {
  color: #cccccc;
  font-size: 16px;
  margin: auto 0;
}

.MAmemberBoard hr {
  width: 90%;
  height: 2px;
  border: none;
  background: var(--sixth-color);
  margin-top: 0px;
}

.MAmemberAccountInformation {
  display: inline-flex;
  width: 100%;
  padding: 0px 20px;
}

.MAaccountInformation {
  width: 100%;
  height: 100%;
}

.MAaccount {
  display: inline-flex;
  align-items: flex-end;
  width: 400px;
}

.MAaccount a {
  text-decoration: none;
}

.MAlistTitle {
  width: 120px;
  color: var(--fontWhite);
  font-size: 20px;
}

.MAcontent {
  font-size: 18px;
  color: #cccccc;
}

.MAchange {
  font-size: 16px;
  color: var(--sixth-color);
  white-space: nowrap;
}

.MAchange:hover {
  text-decoration: underline;
  color: var(--sixth-color);
}

.MAmember {
  /* margin-left: 20px; */
  color: var(--fontWhite);
  font-size: 16px;
}

.MAsmallChange {
  margin-left: 20px;
  font-size: 16px;
}
.MAitemCheck {
  margin: 0px 20px;
}

.MAsmallChange img {
  width: 16px;
  height: 16px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.MAsmallChange {
  text-decoration: underline;
}

.MAdateInput {
  border-radius: 5px;
  margin: 0 10px;
}

.MAheadPicture {
  margin: 20px auto;
}

.MApictureGo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin: auto;
}

.MApictureCard label {
  border-radius: 8px;
  background: #6d695f;
  width: 100px;
  height: 36px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  color: var(--fontWhite);
  margin: 10px;
  line-height: 36px;
  text-align: center;
}

.MApictureCard label:hover {
  background: #777777;
}

.MApictureCard input[type="file"] {
  display: none;
}
.MAbtnW {
  width: 100%;
}

.MAbtn {
  background: var(--second-color);
  color: var(--fontWhite);
  width: 100px;
  height: 40px;
  border-radius: 8px;
  font-size: 20px;
  margin: 10px 40%;
  border: none;
}

.MAbtn:hover {
  color: var(--fontWhite);
  background: var(--btnHover);
}

.MAList1240 {
  display: none;
}
.swal2-styled.swal2-confirm {
  background: var(--second-color);
}

/* @media screen and (max-width: 960px) {
  .MAmemberAside {
    margin: 20px auto;
  }
  .MAmemberCentreTitle {
    margin: 20px auto;
  }

  .MACentreTitle {
    margin: 0px auto;
    font-size: 70px;
    font-weight: bold;
    color: var(--main-color);
    width: 280px;
  }
  .MAmemberCentreList {
    margin: 50px auto;
  }

  .MAaccountInformation {
    width: 100%;
  }
  .MAmemberAcount {
    margin-left: 20px;
    padding-top: 0px;
  }

  .MAaccount {
    width: 100%;
    padding: 10px 0;
  }

  .MAheadPicture720 {
    display: none;
  }

  .MAheadPicture1240 {
    display: block;
    margin: 30px auto;
    height: 250px;
  }

  .MAmemberBoard {
    margin: 0px auto;
    max-width: 80vw;
    height: 100%;
  }

  .MAList1240 {
    display: block;
    width: 100%;
  }

  .MAList1240 ul {
    display: flex;
    flex-direction: row;
  }

  .MAList1240 ul li {
    margin: 0px auto;
  }

  .MAList1240 ul li a {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }

  .MAList1240 ul li a img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
  }

  .MAmemberPage {
    flex-direction: column;
  }

  .MAcontainerList {
    display: none;
  }
  .MApictureCard {
    padding: 20px 0 0 0;
  }

  .MAbtn {
    margin-left: 40%;
  }
}

@media screen and (max-width: 760px) {
  .MAmemberAccountInformation {
    padding: 10px 30px;
  }
} */
