.MVmemberBoard {
  position: relative;
  height: 550px;
  width: 600px;
  background: var(--main-color);
  margin-top: 50px;
  /* margin-left: 30px; */
  border-radius: 20px;
}

.MVmemberBoard ul {
  padding-left: 0;
  display: flex;
  list-style-type: none;
  margin-top: 0;
}

.MVmemberBoard ul li {
  display: inline;
  font-size: 24px;
  background: var(--second-color);
  width: 300px;
  height: 80px;
  text-align: center;
  color: var(--fontWhite);
}

.MVmemberBoard ul li a {
  text-decoration: none;
  display: block;
  height: 100%;
  line-height: 80px;
  cursor: pointer;
}

.MVleftBoardTitle {
  border-radius: 20px 0 0 0;
}

.MVrightBoardTitle {
  border-radius: 0 20px 0 0;
}

.MVactive {
  background: var(--main-color) !important;
  border-bottom: 2px solid #fff579;
}

.MVcommodityVacation {
  display: block;
  height: 430px;
  overflow-y: scroll;
}

.MVcommodityVacation hr {
  background-color: var(--fontWhite);
  width: 90%;
}

.MVcommodityVacationList {
  font-size: 20px;
  color: var(--fontWhite);
  display: flex;
  padding-top: 40px;
  padding-left: 40px;
}

.MVvacationDate {
  display: flex;
  justify-content: space-between;
}

.MVvacationJoin {
  display: flex;
  justify-content: space-between;
}

.MVvacationPicture {
  width: 150px;
  height: 150px;
}
.MVinformation {
  width: 60%;
  margin-left: 30px;
}

.MVlistMargin {
  margin: 10px auto;
}

.MVbtn {
  background: var(--fifth-color);
  color: var(--fontWhite);
  width: 95px;
  margin-left: 270px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
}

.MVbtn:hover {
  background: rgb(255, 0, 0);
}

/* @media screen and (max-width: 1240px) {
  .MVmemberBoard {
    max-width: 80vw;
    margin: 0 auto;
  }
  .MVlistMargin {
    flex-direction: column;
  }
  .MVbtn {
    margin: 0 auto;
  }
  
} */
