.nav-bar {
  background: var(--main-color);
  color: var(--forth-color);
  height: 65px;
  opacity: 0.9;
}

.dropdown-menu.show {
  background: var(--second-color);
  color: var(--main-color);
  left: auto;
  right: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background: var(--second-color);
}

.shopping-go:hover {
  cursor: pointer;
}


.buy-now-btn {
  width: 70px; 
  height: 25px;
  background: transparent;
  color: white

}
/* .buy-btn {
  width: 100%;
  background-color: #F7F7F7;
  border: none;
  padding: 10px 0;
  font-size: 14px;
  border-top: 1px solid rgb(235,235,235);
} */

.buy-btn:hover {
  background-color: #4285F4;
  color: white
}
.product-pic {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
  overflow: hidden;
}

.product-pic img {
  width: 100%;
  height: 100%;
  display: inline-block;
  object-position: center;
  object-fit: cover;
}

.shopping-product-wrapper {
  display: flex;
  align-items: center;
}

.shopping-product-wrapper span {
  font-size: 16px;
  margin-right: 10px;
}


