.nav-bar {
  background: var(--main-color);
  color: var(--forth-color);
  height: 65px;
  opacity: 0.9;
}

.dropdown-menu.show {
  background: var(--second-color);
  color: var(--main-color);
  left: auto;
  right: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background: var(--second-color);
}
