/* travel-notes swiper css */
.swiper-container-TN {
  width: 800px;
  height: 400px;
  /* margin: 0px; */
}
.swiper-slide-TN {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide-TN img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  color: var(--second-color);
}
.swiper-button-next {
  color: var(--second-color);
}
/* travel-notes swiper css END */

/* travel-notes toprank css*/

.TopRankBlock a {
  text-decoration: none;
  font-size: 20px;
}
.TopRankBlock a:link {
  text-decoration: none;
  color: var(--main-color);
}
.TopRankBlock a:visited {
  text-decoration: none;
  color: var(--main-color);
}
.TopRankBlock a:hover {
  text-decoration: none;
  color: var(--second-color);
}
.TopRankBlock ul {
  padding: 0 10px;
}
.TopRankBlock li {
  list-style: none;
}
.TopRankBlock h1 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
}
.TopRankBlock hr {
  margin: 10px 0;
  /* padding:  */
}
/* travel-notes toprank css END*/

.list-container {
  background: var(--main-color);
  color: var(--main-color);
  margin-top: 100px;
  border-radius: 10px;
  padding-bottom: 50px;
}

.list-top {
  padding: 50px 0 10px 0;
}
.TN-write-btn {
  background: var(--fifth-color);
  border: none;
}
.TN-serch-btn {
  background: var(--third-color);
  color: var(--main-color);
}

/* article list css */

.article-block {
  background: var(--seventh-color);
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.pic-block {
  display: flex;
  position: relative;
}
.board-pic {
  width: 200px;
  height: 200px;
  filter: drop-shadow(-10px 10px 15px rgba(0, 0, 0, 0.7));
}
.article-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article-content h1 {
  font-size: 24px;
}

.article-content p {
  font-size: 16px;
}

.article-btn {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}

/* TNblock  */

.TN-block-link {
  margin-top: 0;
  font-size: 30px;
  text-decoration: none;
}
.TN-block-link :link {
  text-decoration: none;
  color: var(--main-color);
}
.TN-block-link :visited {
  text-decoration: none;
  color: var(--main-color);
}
.TN-block-link :hover {
  text-decoration: none;
  color: var(--second-color);
}

.TN-content-limit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}
