html,
body {
  /* overflow-y: auto; */
  width: 100%;
  height: 100vh;
}

:root {
  --font-md: 24px;
  --font-lg: 32px;
  --font-llg: 70px;
  --main-color: #1d3557;
  --second-color: #457b9d;
  --third-color: #abdadc;
  --forth-color: #f1faee;
  --fifth-color: #e63946;
  --sixth-color: #fff579;
  --seventh-color: #c2ccc4;
  --border-lg: 20px;
}

.activity-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.wrapper {
  width: 1280px;
}
.swiper-container {
  max-width: 100%;
  max-height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
  color: #fff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #457b9d;
}
.activity-bg-blue {
  background: var(--main-color);
  color: white;
}
.activity-bg-green {
  background: var(--forth-color);
  color: white;
}
.activity-bg-deepgreen {
  background-color: #afe2db;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.sign-up-btn {
  font-size: var(--font-md);
  background: var(--second-color);
  border-radius: 8px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.member-sign-up-btn {
  font-size: var(--font-md);
  background: var(--second-color);
  border-radius: 8px;
  position: absolute;
  bottom: 30px;
  right: 150px;
}
