.MNmemberBoard {
  position: relative;
  height: 550px;
  width: 600px;
  background: var(--main-color);
  margin-top: 50px;
  /* margin-left: 30px; */
  border-radius: 20px;
}

.MNnotesTitle {
  font-size: 24px;
  color: var(--fontWhite);
  margin: 30px 40px;
}

.MNmemberBoard hr {
  width: 90%;
  height: 2px;
  border: none;
  background: var(--sixth-color);
  margin-top: 0px;
}

.MNnotesAll {
  width: 100%;
  height: 430px;
  overflow-y: scroll;
}

.MNListHr hr {
  background: #858585;
}

.MNnotesList {
  /* width: 700px; */
  padding: 0 20px;
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MNarticle-block {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 30px;
  /* max-width: 600px; */
}

.MNarticle-content {
  /* width: 450px; */
  max-width: 400px;
}

.MNarticle-content a {
  font-size: 20px;
  font-weight: bold;
  color: var(--fontWhite);
  text-decoration: none;
}

.MNarticle-content a:hover {
  text-decoration: underline;
}

.MNarticle-content p {
  font-size: 18px;
  color: var(--fontWhite);
}

.MNbtn {
  background: var(--fifth-color);
  color: var(--fontWhite);
  width: 95px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
}

.MNbtn:hover {
  background: rgb(255, 0, 0);
}

.MNbtnUpdate {
  background: var(--second-color);
  color: var(--fontWhite);
  width: 95px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
}

.MNbtnUpdate:hover {
  background: var(--btnHover);
}
/* @media screen and (max-width: 1240px) {
  .MNmemberBoard {
    max-width: 80vw;
    margin: 0 auto;
  }
  .MNnotesList {
    width: 90%;
    margin: 30px auto;
  }
  .MNarticle-content {
    width: 300px;
  }
} */
