.MCmemberBoard {
  position: relative;
  height: 550px;
  width: 600px;
  background: var(--main-color);
  margin-top: 50px;
  /* margin-left: 30px; */
  border-radius: 20px;
}

.MChistoryTitle {
  font-size: 24px;
  color: var(--fontWhite);
  margin: 30px 40px;
}

.MCmemberBoard hr {
  width: 90%;
  height: 2px;
  border: none;
  background: var(--sixth-color);
  margin-top: 0px;
}

.MCcoupon {
  margin: 100px auto;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MCcouponQuantity {
  font-size: 70px;
  color: var(--fontWhite);
  height: 100px;
}
.MCcouponPicture {
  width: 280px;
  height: 160px;
}
/* @media screen and (max-width: 1240px) {
  .MCmemberBoard {
    max-width: 80vw;
    margin: 0 auto;
  }
} */
