.MFNmemberBoard {
  position: relative;
  height: 750px;
  width: 900px;
  background: var(--main-color);
  margin-top: 50px;
  margin-left: 30px;
  border-radius: 20px;
}

.MFNmemberBoard ul {
  padding-left: 0;
  display: flex;
  list-style-type: none;
}

.MFNmemberBoard ul li {
  display: inline;
  font-size: 32px;
  background: var(--second-color);
  width: 450px;
  height: 80px;
  text-align: center;
}

.MFNmemberBoard ul li a {
  text-decoration: none;
  display: block;
  /* color: var(--fontWhite); */
  height: 100%;
  line-height: 80px;
  cursor: pointer;
}

.MFNleftBoardTitle {
  border-radius: 20px 0 0 0;
}

.MFNrightBoardTitle {
  border-radius: 0 20px 0 0;
}

.MFNactive {
  background: var(--main-color) !important;
  border-bottom: 2px solid var(--sixth-color);
}
.MFNactiveList {
  /* color: white; */
}

.MFNcommodityFavorites {
  display: block;
  height: 600px;
  overflow-y: scroll;
  /*要給高度 才能設置scroll 屬性*/
}

.MFNcommodityFavorites a:hover {
  text-decoration: underline;
}

.MFNcommodityFavorites hr {
  background-color: #858585;
  width: 90%;
}

.MFNcommodityFavoritesList {
  font-size: 24px;
  color: var(--fontWhite);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

.MFNarticle-block {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 30px;
  /* width: 70%; */
  max-width: 600px;
}

.MFNarticle-content {
  width: 600px;
}

.MFNarticle-content a {
  font-size: 24px;
  font-weight: bold;
  color: var(--fontWhite);
}

.MFNarticle-content p {
  font-size: 24px;
  color: var(--fontWhite);
}

.MFNcommodityFavoritesList a {
  /* color: var(--mainBlue); */
  text-decoration: none;
}

.MFNbtn {
  background: var(--fifth-color);
  color: var(--fontWhite);
  width: 95px;
  height: 40px;
  border-radius: 8px;
}

.MFNbtn:hover {
  background: rgb(255, 0, 0);
}

@media screen and (max-width: 1240px) {
  .MFNmemberBoard {
    max-width: 80vw;
    margin: 0 auto;
  }
  .MFNarticle-content {
    width: 300px;
  }
}
