.MLmemberEnter {
  width: 90%;
  margin: 10px auto;
}
.MLitem {
  /* width: 475px; */
  /* margin-left: 10px; */
  margin: 10px 0 0 10px;
  display: flex;
  /* justify-content: space-between; */
}

.MLitemLabel {
  color: var(--fontWhite);
  font-size: 20px;
  width: 85px;
}
.MLitemInput {
  border-radius: 5px;
  margin-left: 20px;
  width: 325px;
  /* height: 30px; */
}
.MLcheck {
  color: var(--sixth-color);
  font-size: 16px;
  height: 20px;
  margin-left: 20px;
}
.MLverification {
  width: 400px;
  height: 120px;
  background: var(--fontWhite);
}

.MLbtn {
  background: var(--second-color);
  width: 180px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  /* color: var(--fontWhite); */
  /* margin-left: 33%; */
  border-radius: 8px;
  margin: 10px 30% 10px;
  border: none;
}

.MLbtn:hover {
  background: var(--btnHover);
}

.google {
  width: 100%;
  display: flex;
  justify-content: center;
}
.google-btn {
  margin-top: 10px;
  margin-bottom: 50px;
}
