.MJ2memberEnter {
  width: 85%;
  margin: 0 auto;
}
.MJ2itemLabel {
  color: var(--fontWhite);
  font-size: 20px;
  width: 85px;
}

.MJ2itemContent {
  /* width: 360px; */
  height: 30px;
  color: var(--fontWhite);
  font-size: 20px;
  display: flex;
  /* justify-content: space-between; */
  line-height: 40px;
  margin-left: 15px;
}

.MJ2itemInput {
  border-radius: 5px;
  width: 80%;
  margin-left: 20px;
  /* height: 30px; */
}

.MJ2dateInput {
  font-size: 16px;
  border-radius: 5px;
  width: 75px;
}

.MJ2gender {
  color: var(--fontWhite);
  /* margin-left: 10px; */
}

.MJ2itemCheck {
  margin: 0px 20px;
}

.MJ2item {
  /* width: 475px; */
  margin: 20px auto;
  display: flex;
  /* justify-content: space-between; */
}

.MJ2btn {
  background: var(--second-color);
  width: 180px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  /* color: var(--fontWhite); */
  border-radius: 8px;
  /* margin-top: 20px;
  margin-left: 33%; */
  margin-bottom: 25px;
  border: none;
}

.MJ2btn:hover {
  background: var(--btnHover);
}
