/* Banner */
/* .P-background {
  position: relative;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.P-background::before {
  content: "";
  background-image: url("../../../assets/img/products/products-list/grandma.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
} */

.P-background {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../../assets/img/products/products-list/grandma.jpg");
  /* background-image: url("../../../assets/img/products/products-list/grandma05-2.jpg"); */
  background-repeat: no-repeat;
  background-size: 100% 600px;
  background-color: var(--forth-color);
}

.P-categoryImg {
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  position: relative;
}
.P-categoryImg img {
  height: 100%;
  padding: 0;
  object-fit: cover;
}
.P-categoryImg span {
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 24px;
  display: none;
}
.P-categoryImg:hover img {
  filter: brightness(40%);
  transform: scale(1.2, 1.2);
  transition: 0.5s;
}
.P-categoryImg:hover span {
  color: white;
  display: block;
}
/* Left Nav */
.P-left-nav {
  width: 200px;
  background: var(--main-color);
  border-radius: 10px;
}
.P-left-nav ul {
  padding: 0;
}
.P-left-nav ul li {
  padding: 15px;
  padding-left: 30px;
}
.P-left-nav ul li:hover {
  background: var(--second-color);
}
.P-left-nav ul a {
  color: white;
  text-decoration: none;
}
/* Rank Card */

.P-rank-title {
  background: var(--main-color);
  border-radius: 10px;
  width: 200px;
  color: var(--sixth-color);
  font-size: 24px;
  padding: 5px;
  justify-content: center;
}
.P-rank-card {
  width: 200px;
  background: var(--main-color);
  border-radius: 10px;
  color: white;
}
.P-rank-card-img {
  max-height: 150px;
  max-width: 200px;
  object-fit: cover;
  padding: 10px;
}

/* Main Block */

.P-main-block {
  background: var(--second-color);
  border-radius: 10px;
  color: white;
  width: 850px;
}

.P-main-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

/* Product Card */
.P-product-card {
  width: 180px;
  background: var(--seventh-color);
  border-radius: 10px;
  color: var(--main-color);
  justify-content: center;
}

.P-product-card a {
  text-decoration: none;
}
.P-product-card a:visited {
  color: var(--main-color);
}
.P-product-card a:hover {
  color: var(--second-color);
}

.P-product-card-pic {
  width: 180px;
  height: 130px;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.P-product-card-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart {
  color: white;
}
.heart:hover {
  color: #e63946;
  cursor: pointer;
}

.shopping-cart {
  color: white;
}

.shopping-cart:hover {
  color: #2970a0;
  cursor: pointer;
}
